<!--Content Heading-->
<% if (title) { %>
    <div id="account-grid">
        <h1><%= title %></h1>
        <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
           <% errors.array().forEach(error => { %>
             <li><%= error.msg %></li>
          <%  }) %>
           </ul>
          <% } %>
          <p>You're logged in</p>
    </div>
    <% } else {
      res.redirect('/')
    } %>