<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a href="https://coolors.co/566246-102542-dffdff-5d8ee1-8a897c"></a>
</footer>