<!--Content Heading-->
<% if (title) { %>
    <div id="register-grid">
        <h1><%= title %></h1>
        <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
           <% errors.array().forEach(error => { %>
             <li><%= error.msg %></li>
          <%  }) %>
           </ul>
          <% } %>
        <form action="/inv/addClassification" method="post">
            <fieldset>
                <legend>Classification Name</legend>
                <p>Field is required.</p>
                <p>Name must be alphabetical character only.</p>
                <label class="top">Name:<input type="text" name="classification_name" pattern="[a-zA-Z]+" required></label>
                <input class="submitBtn" type="submit" name="submitf" value="Add Classification">
            </fieldset>
        </form>
    </div>
    <% } else {
      res.redirect('/')
    } %>
