<!--Content Heading-->
<% if (title) { %>
    <div id="management-grid">
        <h1><%= title %></h1>
        <!--Displays messages in the view-->
        <%- messages() %>
        <p><a href="/inv/addClassification">Add new classification</a></p>
        <p><a href="/inv/addVehicle">Add new inventory</a></p>
    </div>
    <% } else {
      res.redirect('/')
    } %>
