<!--Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
        <!--Displays messages in the view-->
        <%- messages() %>
        <a href="">Add new classification</a>
        <a href="">Add new inventory</a>
    <% } else {
      res.redirect('/')
    } %>
